.card {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;  
    background: rgb(231, 231, 231);
    border-radius: 20px;
    margin: 2rem 4rem;
    overflow: hidden;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}


.card_image img {
    width: 150px;
    height: 300px;
    object-fit: contain;
}



.card_info h2 {
    padding-left: 10px;
    color: black;
}

